Flownative:
  Sentry:
    dsn: "%env:SENTRY_DSN%"
    environment: "%env:SENTRY_ENVIRONMENT%"
    release: "%env:SENTRY_RELEASE%"
    sampleRate: 1.0
    capture:
      excludeExceptionTypes:
        'Neos\Flow\Mvc\Controller\Exception\InvalidControllerException': true
        'Neos\Flow\Mvc\Exception\NoMatchingRouteException': true
        'Neos\Flow\Mvc\Exception\NoSuchActionException': true
        'Neos\Flow\Mvc\Exception\NoSuchControllerException': true
        'Neos\Flow\Property\Exception\TargetNotFoundException': true

Neos:
  Flow:
    log:
      systemLogger:
        backend: Flownative\Sentry\Log\SentryFileBackend
      throwables:
        storageClass: 'Flownative\Sentry\Log\SentryStorage'
        optionsByImplementation:
          'Flownative\Sentry\Log\SentryStorage': []
