Flownative:
  Sentry:
    dsn: "%env:SENTRY_DSN%"
    environment: "%env:SENTRY_ENVIRONMENT%"
    release: "%env:SENTRY_RELEASE%"
    capture:
      excludeExceptionTypes: []

Neos:
  Flow:
    log:
      systemLogger:
        backend: Flownative\Sentry\Log\SentryFileBackend

    error:
      exceptionHandler:
        defaultRenderingOptions:
          # Disable logging of exceptions, because they are already processed by Sentry
          logException: false
