Flownative:
  Sentry:
    dsn: "%env:SENTRY_DSN%"
    environment: "%env:SENTRY_ENVIRONMENT%"
    release: "%env:SENTRY_RELEASE%"
    sampleRate: 1.0
    capture:
      excludeExceptionTypes: []
      excludeExceptionMessagePatterns: []
      excludeExceptionCodes: []
      errorLevel: '%E_ERROR%'
Neos:
  Flow:
    log:
      systemLogger:
        backend: Flownative\Sentry\Log\SentryFileBackend
      throwables:
        storageClass: 'Flownative\Sentry\Log\SentryStorage'
        optionsByImplementation:
          'Flownative\Sentry\Log\SentryStorage': []
